body {
    background-color: #3D3C3C;
}
canvas {
display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#logo{
	border: 10px;
	width: 275px; 
	height: 150px;
	 target: _top;
	 margin-top: 10px;
}
#adBanner1{
	margin-top: 50px;
}